@model gestionarretecaisse.Models.transaction

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/Layoutop.cshtml";
}
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/ajoutusr.css" rel="stylesheet" />
 
</head>
<body>
    <div class="wrapper"><br /><br />
    <h2 >Transaction</h2>
   <!-- @using (Html.BeginForm("Transaction", "compte_client", FormMethod.Post, new { @class = "login" }))
        
    { <div class="form-group" >
          <br /><br /><br /><br />
          /*    @Html.TextBoxFor(model => model.montant, new { @class = "form-control" })
          <br />
              @Html.DropDownListFor(model => Model.op, new List<SelectListItem>
                   {new SelectListItem {Text="retrait",Value="1"  },
                       new SelectListItem {Text="versement",Value="2"  } }
                       )
          </div>
        <br /><b style="color:red"> @ViewBag.error </b><br />

        <button type="submit" class="bout">
         
            <b>valider</b>
        </button>


    }</div>-->
</body>
</html>